# Qt Creator files
*.pro.user
*.pro.user.*
*.autosave

# Build folders
build-*
debug/
release/

# Object files
*.o
*.obj

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Temporary files
*.tmp
*.bak
*~

# Qt resource compiler
*.qrc.depends
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# Windows thumbnail cache
Thumbs.db
Desktop.ini

# Mac OS
.DS_Store
